body{background-color:lightgray;
position:relative;
top:150px;}
p{
    color:indigo;
    font-family:serif; 
    size:20px;
    text-align: center;
}
h1{
    text-align: center;
}
iframe {
    width: 250px; height: 250px;
align-items: center;
border:none;
margin-left: 40px; margin-right: 40px; margin-bottom:40px;
z-index: -1;
}
.frame {
    position:relative;
    margin: 25px;
    border: none;
    text-align: center;
}

.livros {text-align: center;}
.livros img {margin-left: 40px; margin-right: 40px; margin-bottom: 40px;}


.cabeca { position: fixed;
    top:5px;
    background-color: bisque;
    width: 98%;
    height: 135px;
    border: 5px solid blue;
    text-align: center;
    z-index: 4;}
.cabeca img {height: 130px;}
.cabeca #img1 {
    position: fixed;
    left: 1%;
    top: 10px;
}
.cabeca #img2 { 
    position: fixed;
    right: 1%;
    top: 10px;
}
.cabeca p {
    color:darkgreen;
    font-size: 40px;
    display: inline;
    font-weight: bold;
    position: relative;
    top: 40px;
}

.links {position: fixed;
    top: 150px;
    background-color: lightskyblue;
    width: 98.65%;
    text-align: center;
    z-index: 4;}
.links a {margin-left: 60px; margin-right: 60px;}

table {
    border: dashed 5px red;
    margin:auto
}
th , td {
    border: 1px red groove;
    text-align: center;
}
.tabela tr:first-child{color:red;}

.consulta {margin: auto;
background-color: yellow;
width: 25%;
font-size: 15px;
font-weight: normal;}
.consulta a {margin-left: 20px; margin-right: 20px; color:darkred}
h4 {font-weight: normal;
margin-top: 40px;}

.rodape img {height: 130px;}
.rodape { position: relative;
    bottom: 5px;
    background-color: bisque;
    width: 100%;
    height: 135px;}
.rodape #img4 { 
    position: absolute;
    right: 1%;
    bottom: 1px;
}

.rodape #img3 {position: absolute;
    left:1%;
    bottom: 1px;
}
.rodape p {
    size: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    position:relative;
    top: 45%
}
