body{background-color: lightgray;}
.cabeca{
    display: flex;
    height: 135pt;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    border: 5px solid blue;
}
.cabeca img{height: 130pt;}
.cabeca p{
    color: darkgreen;
    font-size: 40pt;
    font-weight: bold;
}
.links {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
}
a{color: darkred;}
p {
    color:indigo;
    font-family:serif; 
    size:20pt;
    text-align: center;
}
h1{
    text-align: center;
}
.livros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right:60pt;
    padding-left: 60pt;
}
.livros img{
    height: 300px;
}

iframe {
    width: 250pt; height: 250pt;
    margin-left: 20pt;
    margin-right: 20pt;
    border: none;
}
.frame {
    display: flex;
    justify-content: center;
}

table {
    border: dashed 5px red;
    margin:auto
}
th , td {
    border: 1px red groove;
    text-align: center;
}
.tabela tr:first-child{color:red;}

.consulta {
    display: flex;
    background-color: yellow;
    width: 450pt;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    font-size: 15pt;
    flex-direction: column;
    justify-content: space-between;
}
.consulta h4 {margin: 0;
    font-weight: normal;
}
.consulta a {
    color:darkred;
    margin-left: 75pt; margin-right: auto;
}

.rodape{
    display: flex;
    height: 100pt;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    padding: 5pt;
}
.rodape img {height: 95pt;}

.rodape p {
    size: 15pt;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
}