<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/Laboratórios/Lab09/style.css">
</head>
<body>
    <h1>Post Criado</h1>
    <a href="/blog">Home</a>