<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form method="get", action="/postcriar">
    <input type="button", value="Criar Post">
</form>




</body>
</html>