<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Status</title>
        <link rel="stylesheet" href="/Laboratórios/Lab10/style.css">
    </head>
    <body>
        <h1><%= status %></h1>

        <% if(logado){
            %><div class="links"> <a href="">Listagem de Carros</a> <a href="/Laboratórios/Lab10/gerencia_carro.html">Gerenciar Carros</a> </div> <%
        } %>
    </body>
</html>