<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exemplo de for</title>
    <link rel="stylesheet" href="/Laboratórios/Lab09/style.css">
</head>
<body>
    <h1>Exemplo de for</h1>
    <% for (var i = 1; i <= valor;  i++ ) { %>
        <div class="divs_for">
            <%= i %>
        </div>
     <% } %>
     
</body>
</html>